
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Work Sans", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav h3,
.some-fact-title,
.sponsors-title,
.features-content h3
{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.main-menu{
    
    display: flex;
    padding: 0px;
}

.main-menu li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

.main-menu li:last-child{
    margin-right: 0px;
}

.main-menu li a{
    color: #424242;
    text-decoration: none;
}


.content-div-img {
    width: 100%;
    margin-top: 22px;
}

.content-div-img img {
    width: 100%;
}



.content-div {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.content-div h1 {
    font-weight: 700;
    color: #131313;
    font-size: 4rem;
}

.content-div p,
.some-fact-des,
.sponsors-des,
.copyright-text p,
.features-content p
{
    color: #727272;
}

button.btn-primary {
    padding: 15px 22px;
    color: white;
    background-color: #FF900E;
    border: none;
    font-size: 1.3rem;
    border-radius: 11px;
}

button.btn-primary:hover{
    cursor: pointer;
}



/* Our Features Section */

main{
    max-width: 1440px;
    margin: 0 auto;
}


.our-feature-container{
    display: flex;
    align-items: center;
    padding: 70px 15px;
}

.our-feature-img{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.our-feature-content{
    padding: 0px 74px;
}

.our-feature-content p{
    color: #727272;
}

.our-feature-content h3{
    font-weight: 700;
    font-size: 2.8rem;
}

.our-feature-content h3 span:first-child{
    font-weight: 500;
    color: #727272;
    
}

.our-feature-content h3 span:last-child{
    color: #FF900E;
    
}



.sucess-box-container {
    display: flex;
    justify-content: space-around;
}

.sucess-box {
    border: 1px solid #FF900E;
    padding: 30px;
    text-align: center;
    border-radius: 8px;

}

.sucess-box h2{
    font-size: 2.8rem;
    color:#424242;
    margin: 18px 0px;
}


.sucess-box span{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}



.features-container{
    display: flex;
    gap: 124px;
}


.features-card{
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 2px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 26px;
    margin-bottom: 20px;
}


.features-content h3{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.ten-year-exp{
    width: 340px;
    background-color: #FF900E;
    padding: 45px 25px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    bottom: 65px;
    left: -82px;
}

.ten-year-exp h2{
    font-size: 4rem;
    color: #FFF;
    margin: 0px;

}

.ten-year-exp span{
    font-size: 1.5rem;
    color: #FFF;
    display: inline-block;
    margin: 15px 0px;
    
}


.some-fact-parent,
.sponsors-section,
.features-section
{
    padding: 0px 15px 70px 15px;
}

.sponsors-section{
    text-align: center;
}

.sponsor-img-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


footer.footer-section {
    text-align: center;
}




@media screen and (max-width:640px) {
    header{
        padding: 15px;
    }

    .header-nav,
    .our-feature-container,
    .sucess-box-container,
    .sponsor-img-container,
    .features-container
    {
        flex-direction: column;
    }


    .content-div p,
    .our-feature-content p,
    .some-fact-parent p,
    .sponsors-des,
    .features-content p
    {
        font-size: 1.111rem;
    }

    .our-feature-img{
        grid-template-columns: 1fr;
    }

    .our-feature-content{
        padding: 0px 20px;
    }

    .sucess-box-container,
    .sponsor-img-container
    {
        gap: 30px;
    }

    .Features-img{
        width: 100%;
    }

    .Features-img img{
        width: 100%;
    }

    .ten-year-exp{
        position: unset;
        max-width: 295px;
    }


}


@media screen and (min-width:641px) and (max-width:767px) {
    header{
        padding: 16px;
    }

    .header-nav h3{
        font-size: 2.3rem;
    } 

    .content-div p,
    .our-feature-content p,
    .some-fact-parent p,
    .sponsors-des,
    .features-content p
    {
        font-size: 1.111rem;
    }

    .our-feature-container,
    .sucess-box-container,
    .sponsor-img-container,
    .features-container
    {
        flex-direction: column;
    }

    .our-feature-img{
        width: 100%;
    }

    .our-feature-img img{
        width: 100%;
    }

    .our-feature-content{
        padding: 0px 15px;
    }

    .sucess-box-container,
    .sponsor-img-container
    {
        gap: 30px;
    }

    .sponsor-img-container img{
        width: 50%;
        margin: 0px auto;
    }


    .Features-img{
        width: 100%;
    }

    .Features-img img{
        width: 100%;
    }


    .ten-year-exp{
        position: unset;
        width: 92%;
    }







}


@media screen and (min-width:768px) and (max-width:1023px) {
    header{
        padding: 20px;
    }

    .content-div p,
    .our-feature-content p,
    .some-fact-parent p,
    .sponsors-des,
    .features-content p
    {
        font-size: 1.111rem;
    }

    .our-feature-container,
    .features-container
    {
        flex-direction: column;
    }

    .sucess-box-container,
    .sponsor-img-container
    {
        gap: 20px;
    }

    .sponsor-img-container{
        width: 100%;
    }

    .sponsor-img-container img{
        width: 18%;
    }

    
    .Features-img{
        width: 100%;
    }

    .Features-img img{
        width: 100%;
    }


    .ten-year-exp{
        position: unset;
        width: 94%;
    }
}



@media screen and (min-width:1024px) and (max-width:1279px) {
    header{
        padding: 20px;
    }

    .content-div p,
    .our-feature-content p,
    .some-fact-parent p,
    .sponsors-des,
    .features-content p
    {
        font-size: 1.111rem;
    }

    .our-feature-container,
    .features-container
    {
        flex-direction: column;
    }

        
    .Features-img{
        width: 100%;
    }

    .Features-img img{
        width: 100%;
    }


    .ten-year-exp{
        position: unset;
        width: 95%;
    }
}


@media screen and (min-width:1280px) and (max-width:1535px) {
    header{
        padding: 20px;
    }

}

@media screen and(min-width:1536px) {
    header{
        padding: 20px;
    }


}